# Panda slicing and Filtering

In [1]:
import pandas as pd

In [2]:
data = [
    ("Dexter","Johnsons","dog","shiba inu","red sesame",1.5,35,"m",False,"both",True),
    ("Alfred","Johnsons","cat","mix","tuxedo",4,12,"m",True,"indoor",True),
    ("Petra","Smith","cat","ragdoll","calico",None,10,"f",False,"both",True),
    ("Ava","Smith","dog","mix","blk/wht",12,32,"f",True,"both",False),
    ("Schroder","Brown","cat","mix","orange",13,15,"m",False,"indoor",True),
    ("Blackbeard","Brown","bird","parrot","multi",5,3,"f",False,"indoor",),
]

labels = ["name","owner","type","breed","color","age","weight","gender","health issues","indoor/outboor","vaccinated"]

vet_records = pd.DataFrame(data, columns = labels)

In [4]:
vet_records

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,NaN,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,None

In [5]:
vet_records.type.count()

6

In [6]:
vet_records['type']

0     dog
1     cat
2     cat
3     dog
4     cat
5    bird
Name: type, dtype: object

In [7]:
vet_records.groupby('type').count()

,name,owner,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
type,,,,,,,,,,
bird,1,1,1,1,1,1,1,1,1,0
cat,3,3,3,3,2,3,3,3,3,3
dog,2,2,2,2,2,2,2,2,2,2

In [8]:
vet_records.type.value_counts()

cat     3
dog     2
bird    1
Name: type, dtype: int64

## Slicing (Filtering) Data

In [11]:
weight = vet_records.weight[vet_records.type=='dog']

In [12]:
weight

0    35
3    32
Name: weight, dtype: int64

### .loc and .iloc

In [14]:
vet_records.loc[2, ['name', 'owner', 'breed']]

name       Petra
owner      Smith
breed    ragdoll
Name: 2, dtype: object

In [15]:
vet_records.loc[:,['name', 'owner', 'breed']]

         name     owner      breed
0      Dexter  Johnsons  shiba inu
1      Alfred  Johnsons        mix
2       Petra     Smith    ragdoll
3         Ava     Smith        mix
4    Schroder     Brown        mix
5  Blackbeard     Brown     parrot

In [16]:
vet_records.iloc[:, 0]

0        Dexter
1        Alfred
2         Petra
3           Ava
4      Schroder
5    Blackbeard
Name: name, dtype: object

In [17]:
vet_records.iloc[2,0]

'Petra'

In [18]:
vet_records.iloc[[2,3],[4,5]]

     color   age
2   calico   NaN
3  blk/wht  12.0

In [19]:
vet_records.name.isin(['Dexter', 'Blackbeard'])

0     True
1    False
2    False
3    False
4    False
5     True
Name: name, dtype: bool

### ~ is logical NOT

In [21]:
~vet_records.name.isin(['Dexter', 'Blackbeard'])

0    False
1     True
2     True
3     True
4     True
5    False
Name: name, dtype: bool

## Boolean Masks

In [28]:
mask = vet_records.gender=='m'

In [29]:
vet_records[mask]

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True

In [30]:
vet_records.isna()

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,True

In [31]:
vet_records.fillna(0)

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,0.0,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,0

In [32]:
values = {'age':6, "vaccinated":False}

In [33]:
vet_records.fillna(value=values)

,name,owner,type,breed,color,age,weight,gender,health issues,indoor/outboor,vaccinated
0,Dexter,Johnsons,dog,shiba inu,red sesame,1.5,35,m,False,both,True
1,Alfred,Johnsons,cat,mix,tuxedo,4.0,12,m,True,indoor,True
2,Petra,Smith,cat,ragdoll,calico,6.0,10,f,False,both,True
3,Ava,Smith,dog,mix,blk/wht,12.0,32,f,True,both,False
4,Schroder,Brown,cat,mix,orange,13.0,15,m,False,indoor,True
5,Blackbeard,Brown,bird,parrot,multi,5.0,3,f,False,indoor,False